<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/style/output.css" />
        <script src="https://use.fontawesome.com/0aee473986.js"></script>
    </head>
    <body>
        <header>
            <div>
                <div class="text-7xl font-bold text-center my-5 font-mono">
                    Pulse
                </div>
            </div>
            <nav class="text-sky-500 text-center">
                <a
                    class="bg-violet-600 rounded-full px-10 py-2 text-white font-bold border-2 border-violet-600 hover:bg-white hover:text-violet-600 font-mono"
                    href="#"
                    >Hem</a
                >
                <a
                    class="bg-violet-600 rounded-full px-10 py-2 text-white font-bold border-2 border-violet-600 hover:bg-white hover:text-violet-600 font-mono"
                    href="#"
                    >Kategorier</a
                >
                <a
                    class="bg-violet-600 rounded-full px-10 py-2 text-white font-bold border-2 border-violet-600 hover:bg-white hover:text-violet-600 font-mono"
                    href="#"
                    >Produkter</a
                >
            </nav>
        </header>
        <main class="w-6/12 mx-auto"></main>
    </body>
</html>
