<%- include("./../partials/login-header.ejs") %>

<div class="rounded-xl bg-white">
    <h1
        class="my-2 border-b-2 border-gray-100 py-2 text-center font-sans text-5xl font-bold text-sky-600/75"
    >
        Pulse
    </h1>
    <p class="p-4 font-sans">
        The page you were looking for could not be found.
    </p>
    <p class="p-4 text-center font-sans">
        Go back to
        <a href="/" class="text-center">
            <span class="text-sky-500 hover:underline">Login</span>
        </a>
    </p>
</div>

<%- include("./../partials/login-footer.ejs") %>
