<%- include("./../partials/login-header.ejs") %>

<div class="bg-white rounded-xl">
    <h1
        class="text-5xl text-center my-2 py-2 font-sans font-bold border-b-2 border-gray-100 text-sky-600/75"
    >
        Pulse
    </h1>
    <p class="p-4 font-sans">
        The page you were looking for could not be found.
    </p>
    <p class="p-4 font-sans text-center">
        Go back to
        <a href="/" class="text-center">
            <span class="text-sky-500 hover:underline">Login</span>
        </a>
    </p>
</div>

<%- include("./../partials/login-footer.ejs") %>
