<%- include("./../partials/header.ejs") %>
<div class="p-4">
    <div class="mb-14 grid grid-cols-3 gap-4">
        <div class="flex h-24 items-center">
            <p class="font-sans text-5xl font-semibold text-gray-700">
                Reports
            </p>
        </div>
        <div class="h-24"></div>
        <div class="flex h-24 items-center justify-end">
            <a class="my-6 px-4 py-2 hover:animate-spin hover:cursor-pointer">
                <img src="/img/reload.png" class="h-6" alt="reload page" />
            </a>
        </div>
    </div>
    <div class="mb-4 grid gap-4">
        <div class="grid h-10 grid-cols-5 items-center gap-4 text-gray-500">
            <p class="px-4 text-2xl">#</p>
            <p class="px-4 text-2xl">Namn</p>
            <p class="px-4 text-2xl">Datum</p>
            <p class="px-4 text-2xl">Projekt</p>
            <p class="px-4 text-2xl">Status</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 opacity-60"
        >
            <p class="px-4 text-xl">1</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Aurora</p>
            <p class="px-4 text-xl">Read</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 drop-shadow-md"
        >
            <p class="px-4 text-xl">2</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Echo Lake</p>
            <p class="px-4 text-xl">Unread</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 drop-shadow-md"
        >
            <p class="px-4 text-xl">3</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Echo Lake</p>
            <p class="px-4 text-xl">Unread</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 opacity-60"
        >
            <p class="px-4 text-xl">4</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Echo Lake</p>
            <p class="px-4 text-xl">Read</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 drop-shadow-md"
        >
            <p class="px-4 text-xl">5</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Aurora</p>
            <p class="px-4 text-xl">Unread</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 opacity-60"
        >
            <p class="px-4 text-xl">6</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Echo Lake</p>
            <p class="px-4 text-xl">Read</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 drop-shadow-md"
        >
            <p class="px-4 text-xl">7</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Aurora</p>
            <p class="px-4 text-xl">Unread</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 drop-shadow-md"
        >
            <p class="px-4 text-xl">8</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Aurora</p>
            <p class="px-4 text-xl">Unread</p>
        </div>
        <div
            class="grid h-14 grid-cols-5 items-center gap-4 rounded bg-white text-gray-500 drop-shadow-md"
        >
            <p class="px-4 text-xl">9</p>
            <p class="px-4 text-xl">Jonathan</p>
            <p class="px-4 text-xl">2023-09-13</p>
            <p class="px-4 text-xl">Aurora</p>
            <p class="px-4 text-xl">Unread</p>
        </div>
    </div>
</div>

<%- include("./../partials/footer.ejs") %>
