<%- include("./../partials/header.ejs") %>

<div
    class="shadow-xl bg-gradient-to-r from-white from-80% to-green-500 to-90% p-5 rounded-lg my-5 font-mono text-lg"
>
    <h1 class="my-1 text-2xl font-bold font-mono">Jonathan</h1>
    <h2 class="my-1 font-bold">Pulse-status</h2>
</div>

<div
    class="shadow-xl bg-gradient-to-r from-white from-80% to-yellow-400 to-90% p-5 rounded-lg my-5 font-mono text-lg"
>
    <h1 class="my-1 text-2xl font-bold font-mono">Marcus</h1>
    <h2 class="my-1 font-bold">Försenad</h2>
</div>

<div
    class="shadow-xl bg-gradient-to-r from-white from-80% to-red-500 to-90% p-5 rounded-lg my-5 font-mono text-lg"
>
    <h1 class="my-1 text-2xl font-bold font-mono">Leo</h1>
    <h2 class="my-1 font-bold">Dropped</h2>
</div>

<%- include("./../partials/footer.ejs") %>
