<%- include("./../partials/login-header.ejs") %>

<div class="rounded-xl bg-white">
    <h1
        class="my-5 border-b-2 border-gray-100 py-4 text-center font-sans text-5xl font-bold text-sky-500/75"
    >
        Pulse
    </h1>
    <form class="m-10 flex w-80 flex-col py-2" method="post">
        <% if (login === "wrong") { %>
        <p class="text-center text-sm text-red-600">
            Either the username or the password is wrong
        </p>
        <% }; %> <% if (user === "") { %>
        <input
            class="my-6 border-b-2 border-gray-400 p-1 focus:outline-none"
            type="text"
            name="username"
            value=""
            placeholder="Username"
            required
        />
        <% } else { %>
        <input
            class="my-6 border-b-2 border-gray-400 p-1 focus:outline-none"
            type="text"
            name="username"
            value="<%= user %>"
            placeholder="Username"
            required
        />
        <% }; %>

        <input
            class="my-6 border-b-2 border-gray-400 p-1 focus:outline-none"
            type="password"
            name="password"
            value=""
            placeholder="Password"
            required
        />

        <input
            class="my-6 rounded-full bg-sky-400 px-10 py-2 font-sans font-bold text-white transition-colors hover:cursor-pointer hover:bg-sky-500 active:bg-sky-600"
            type="submit"
            name="doit"
            value="Login"
        />
    </form>
</div>

<%- include("./../partials/login-footer.ejs") %>
