<%- include("./../partials/header.ejs") %>
<div class="p-4">
    <div class="mb-14 grid gap-4">
        <div class="flex h-24 items-center">
            <p class="font-sans text-5xl font-semibold text-gray-700">
                Project
            </p>
        </div>
    </div>
</div>

<%- include("./../partials/footer.ejs") %>
